@import 'tailwindcss';

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/DM_Sans/DM_Sans-Regular.ttf') format('truetype');
}

@theme {
  --color-green-900: #0f1e19;
  --color-green-800: #0e3327;
  --color-green-700: #0d4734;
  --color-green-600: #6e9b5b;
  --color-green-500: #cfef82;
  --color-green-400: #cfee9b;
  --color-green-300: #cfecb4;
  --color-green-200: #e1f1cc;
  --color-green-100: #f3f5e3;

  --color-primary: var(--color-green-700);
  --color-secondary: var(--color-green-500);
  --color-tertiary: var(--color-green-300);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply m-0 p-0 font-sans bg-white text-black;
    font-family: 'DM Sans', sans-serif;
  }
  a {
    @apply text-inherit no-underline;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply m-0 p-0;
  }
  p {
    @apply m-0 p-0;
  }
}

@layer components {
  .section-title {
    @apply text-xs font-light uppercase lg:text-base;
  }
  .headline {
    @apply text-2xl leading-7 tracking-tight lg:text-5xl lg:leading-tight lg:tracking-normal;
  }
  .subheadline {
    @apply text-base leading-6 font-light tracking-tight lg:text-xl lg:leading-tight;
  }
}
